<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home - Expense Tracker</title>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="icon" type="image/x-icon" href="/icon (3).ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet" />
</head>

<body>
  <header>
    <h1>Expense Tracker</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    </nav>
  </header>
  <main>
    <section class="section_home">
      <h2>Welcome to Eazynote Expense Tracker</h2>
      <p>Track your expenses efficiently and manage your finances.</p>
      <a href="/login" class="btn">Login</a> or
      <a href="/register" class="btn">Register</a>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Expense Tracker Application</p>
  </footer>
  <script src="/script.js"></script>
</body>

</html>